<div class="main">
    <div class="description-box">
        <div class="generator">
            <div class="title">
                <h3>Aqui você gera senhas fortes e seguras!</h3>
                <p>Para gerar sua senha clique em gerar nova senha!</p>
            </div>
            <app-password-generator></app-password-generator>
        </div>
        <div class="usage">
            <div class="text-usage">
                <h2>Como utilizar?</h2>
                <p>O gerador de senhas cria automaticamente senhas fortes e aleatórias com base nas configurações
                    preferenciais. É possível ajustar o número de caracteres e os tipos de caracteres necessários para a
                    senha (letras minúsculas e maiúsculas, números e símbolos). Após a seleção, basta clicar em gerar
                    nova senha.</p>
            </div>
            <h2>Sobre o projeto</h2>
            <div class="text-about">
                <div class="text-technology">
                    <b>Tecnologias Utilizadas:</b><br>
                    <div>
                        <p>
                            <b>Backend:</b> Java 16<br>
                            A lógica de geração de senhas é implementada utilizando Java 16, que traz melhorias
                            significativas de desempenho e novas funcionalidades. O backend é responsável por receber as
                            solicitações de geração de senhas e fornecer uma API RESTful para o frontend. Utilizamos
                            bibliotecas de segurança e algoritmos de geração aleatória para garantir a criação de senhas
                            fortes e seguras, adaptadas às preferências do usuário, como comprimento da senha e inclusão
                            de
                            caracteres especiais.<br><br>
                        </p>
                    </div>
                    <div>
                        <p>
                            <b>Frontend:</b> Angular 18<br>
                            O frontend é desenvolvido em Angular 18, permitindo uma interface de usuário responsiva e
                            dinâmica.
                            Os usuários podem facilmente interagir com a aplicação para gerar senhas, selecionar
                            critérios
                            (como
                            comprimento, uso de caracteres especiais, etc.) e visualizar o histórico de senhas geradas.
                            A
                            comunicação entre o frontend e o backend é feita por meio de serviços HTTP, facilitando a
                            troca
                            de
                            dados e a atualização em tempo real do histórico de senhas.<br><br>
                        </p>
                    </div>
                </div>
                <div class="text-functions">
                    <b>Funcionalidades:</b><br>
                    <b>Geração de Senhas Aleatórias:</b> Os usuários podem personalizar suas senhas, escolhendo o
                    comprimento desejado e se desejam incluir letras maiúsculas, minúsculas, números e caracteres
                    especiais.<br><br>
    
                    <b>Histórico de Senhas:</b> A aplicação mantém um registro de todas as senhas já geradas pelo usuário.
                    Isso permite fácil acesso a senhas anteriores, promovendo conveniência e segurança.<br><br>
    
                    <b>Interface Intuitiva:</b> A interface do usuário é projetada para ser simples e direta, permitindo que
                    usuários de todos os níveis de experiência naveguem pela aplicação sem dificuldades.<br><br>
    
                    <b>Segurança Aprimorada:</b> Utilizando práticas de segurança recomendadas, como a geração de senhas
                    fortes e a proteção dos dados dos usuários, o aplicativo assegura que as informações sejam mantidas
                    seguras.<br><br>
                </div>
            </div>
        </div>
    </div>
</div>