<mat-toolbar class="navbar" color="primary">
    <span style="flex: 1 1 auto;"></span>
    <h1><i class="fa-solid fa-key"></i> Gerador de Senha</h1>
    <span style="flex: 1 1 auto;"></span>
    
    <a href="https://www.linkedin.com/in/enilson-neto" target="_blank" aria-label="LinkedIn">
      <i class="fab fa-linkedin"></i>
    </a>
    <a href="https://github.com/EnilsonNeto" target="_blank" aria-label="GitHub">
      <i class="fab fa-github"></i>
    </a>
    <a href="mailto:enilsonneto8@gmail.com" aria-label="Email">
      <i class="fas fa-envelope"></i>
    </a>
  </mat-toolbar>
  