body {
    margin: 0;
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
}

html,
body {
    height: 100%;
}

mat-display-medium,
.mat-typography .mat-display-medium,
.mat-typography h2,
h1,
h3,
h4,
p {
    font-family: "Outfit", sans-serif !important;
    font-optical-sizing: auto;
}