.main {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4454px;
    margin-top: 15px;
}

mat-card {
    border-radius: 45px;
}

table{
    width: 900px;
    border-radius: 45px;
}
mat-icon {
    height: 15px;
    font-size: 18px;
}