.main {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    font-family: "Outfit", sans-serif !important;
  }
  
  mat-card {
    border-radius: 25px;
    padding: 16px;
  }
  
  table {
    width: 900px;
    border-collapse: separate;
    border-spacing: 0;
    overflow: hidden;
    border-radius: 15px; 
  }

  mat-paginator {
    background-color: #ffffff;
    margin-top: 10px;
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  th {
    background-color: #00376e;
    color: #ffffff;
    padding: 12px;
  }
  
  tr:first-child th:first-child {
    border-top-left-radius: 15px;
  }
  
  tr:first-child th:last-child {
    border-top-right-radius: 15px;
  }
  
  tr:last-child td:first-child {
    border-bottom-left-radius: 15px;
  }
  
  tr:last-child td:last-child {
    border-bottom-right-radius: 15px;
  }
  
  mat-icon {
    height: 15px;
    font-size: 18px;
  }
  
  .eye {
    color: #ffffff;
  }
  
  .mat-mdc-table-sticky-border-elem-right {
    border-left: 1px solid #e0e0e0;
  }
  
  .mat-mdc-table-sticky-border-elem-left {
    border-right: 1px solid #e0e0e0;
  }

  @media (max-width: 600px) {
    table {
      width: 100%;
    }
  
    th, td {
      padding: 8px;
      font-size: 14px;
    }
  
    .eye {
      height: 20px;
    }
  }
  