<div class="main">
  <mat-card>
    <table mat-table [dataSource]="paginatedDataSource" class="mat-elevation-z8 example-container">
      <ng-container matColumnDef="password" sticky>
        <th style="background-color: #00376e; color: #ffffff;" mat-header-cell *matHeaderCellDef>
          <b>Suas Senhas</b>
          <button class="eye" mat-icon-button (click)="toggleShowPasswords()">
            <mat-icon>{{ showPasswords ? 'visibility_off' : 'visibility' }}</mat-icon>
          </button>
        </th>
        <td mat-cell *matCellDef="let entry">
          {{ showPasswords ? entry.password : '*****' }}
        </td>
      </ng-container>

      <ng-container matColumnDef="generatedAt">
        <th style="background-color: #00376e; color: #ffffff;" mat-header-cell *matHeaderCellDef> <b>Data de Geração</b> </th>
        <td mat-cell *matCellDef="let entry"> {{ entry.generatedAt | date:'dd/MM/yyyy HH:mm' }} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="['password', 'generatedAt']"></tr>
      <tr mat-row *matRowDef="let row; columns: ['password', 'generatedAt'];"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 25]" [pageSize]="5" showFirstLastButtons></mat-paginator>
  </mat-card>
</div>
