<div class="password-generator">
  <h2>Gerador de Senhas</h2>
  
  <mat-form-field appearance="fill">
    <mat-label>Tamanho da Senha</mat-label>
    <input matInput type="number" [(ngModel)]="passwordLength" min="4" max="32" />
  </mat-form-field>

  <mat-checkbox [(ngModel)]="includeUppercase">Incluir Letras Maiúsculas</mat-checkbox>
  <mat-checkbox [(ngModel)]="includeLowercase">Incluir Letras Minúsculas</mat-checkbox>
  <mat-checkbox [(ngModel)]="includeNumbers">Incluir Números</mat-checkbox>
  <mat-checkbox [(ngModel)]="includeSpecialChars">Incluir Caracteres Especiais</mat-checkbox>

  <button mat-flat-button color="primary" (click)="onGeneratePassword()">Gerar Senha</button>

  <div *ngIf="generatedPassword">
    <h3>Senha Gerada:</h3>
    <p>{{ generatedPassword }}</p>
  </div>

  <h3>Histórico de Senhas:</h3>
  <table mat-table [dataSource]="passwordHistory" class="mat-elevation-z8">
    <ng-container matColumnDef="password">
      <th mat-header-cell *matHeaderCellDef> Senha </th>
      <td mat-cell *matCellDef="let entry"> {{ entry.password }} </td>
    </ng-container>

    <ng-container matColumnDef="generatedAt">
      <th mat-header-cell *matHeaderCellDef> Data de Geração </th>
      <td mat-cell *matCellDef="let entry"> {{ entry.generatedAt | date:'short' }} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="['password', 'generatedAt']"></tr>
    <tr mat-row *matRowDef="let row; columns: ['password', 'generatedAt'];"></tr>
  </table>
</div>
