<div class="password-generator">
  <mat-card class="card-generator" appearance="outlined">
    <div class="new-password">
      <mat-form-field class="input-form" appearance="outline">
        <input matInput [type]="showPassword ? 'text' : 'password'" [value]="generatedPassword || '*******'" readonly />
        
        <button 
          mat-icon-button 
          matSuffix 
          (click)="toggleShowPassword()" 
          [disabled]="!generatedPassword">
          <mat-icon>{{ showPassword ? 'visibility_off' : 'visibility' }}</mat-icon>
        </button>
        
        <button 
          mat-icon-button 
          matSuffix 
          (click)="copyPassword()" 
          [disabled]="!generatedPassword">
          <mat-icon>content_copy</mat-icon>
        </button>
      </mat-form-field>

      <button mat-flat-button color="primary" (click)="onGeneratePassword()">
        Gerar nova senha<mat-icon>refresh</mat-icon>
      </button>
    </div>

    <div class="options-box">
      <div class="slider-box">
        <mat-slider class="large-slider" min="4" max="50" step="1" [(ngModel)]="passwordLength" name="passwordLength" thumbLabel
          tickInterval="1" (change)="onPasswordLengthChange($event)">
          <input matSliderThumb [(ngModel)]="passwordLength" name="passwordLengthThumb">
        </mat-slider>

        <div class="slider-label">
          <span><b>Número de caracteres: {{ passwordLength }}</b></span>
        </div>
      </div>
      <div class="options">
        <mat-checkbox [(ngModel)]="includeSpecialChars" name="includeSpecialChars">Incluir Caracteres Especiais</mat-checkbox>
        <mat-checkbox [(ngModel)]="includeLowercase" name="includeLowercase">Incluir Letras Minúsculas</mat-checkbox>
        <mat-checkbox [(ngModel)]="includeUppercase" name="includeUppercase">Incluir Letras Maiúsculas</mat-checkbox>
        <mat-checkbox [(ngModel)]="includeNumbers" name="includeNumbers">Incluir Números</mat-checkbox>
      </div>
    </div>
  </mat-card>
</div>

<app-password-history [passwordHistory]="passwordHistory"
  [passwordHistoryUpdated]="passwordHistoryUpdated"></app-password-history>
